*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #bebebe;
    height: 100vh;
}
body>div{
    display: flex;
    padding: 20px 30px;
    border-radius: 25px ;
    height: 95.6vh;
    background-color:#171829 ;

}
aside{
    display: flex;
    width: 300px;
}
.aside{
    display: flex;
    flex-direction: column;
    width: 260px;
    background-color:#1f2246 ;
    border-radius: 30px;
}
.art1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.art1>span{
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bolder;
    color: #ffff;
    border-radius: 50%;
    background-color:#363853 ;
    width: 70px;
    height: 70px;
}
.art2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
}
.cont1{
    padding-left: 70px;
}
.cont1>div{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}
.cont1>div>span{
    display: flex;
    background-color: #363853;
    width: 15px;
    height: 15px;
}
.cont1>div>p{
    color: #ffff;
}
.cont2{
    gap: 10px;
    padding-left: 70px;
}
.cont2>.margin{
    display: flex;
    margin-bottom: 30px;
    border-color: transparent;
    border-radius: 70px;
    align-items: center;
    padding-left: 5px;
}
.cont2>.margin>p{
    color: white;
}
.cont2>div{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}
.cont2>div>p{
    color: #ffff;
}
#user{
    position: initial;
    color:white ;
}
main{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1 0 0;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: flex-start;
}
#mensaje{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25Px;
    position: initial;
    color: aliceblue;
    background-color: #272944;
}
#todo{
    position: initial;
    color: aliceblue;
}
.selfie{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.header1{
    display: flex;
    gap: 10px;
    width: 600px;
    background-color:#272944;
    padding: 7px 10px;
}
.header1>span{
    display: flex;
    background-color: #363853;
    width:18px ;
    height:18px ;
}
.header1>input{
    flex: 1 0 0;
    background-color: transparent;
    border: none;
}
.header2{
    display: flex;
    width: 160px;
    justify-content: space-between;
}
.en{
    display: flex;
    align-items: center;
    gap: 5px;
}
.en>select{
    border-radius: 30%;
    border-color: transparent;
    width: 70px;
    height: 30px;
    padding: 5px 15px;
    background-color: #272944;
    color: #ffff;
}
.en>select>option{
    border-color: transparent;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    padding: 5px 15px;
    background-color: #272944;
    color: #ffff;
}
.en2{
    display: flex;
    gap: 10px;
}
.en2>span{
    background-color:#363853 ;
    width: 30px;
    height: 30px;
}
p{
    color: #272944;
}
.headerito{
    display: flex;
    justify-content: space-between;
}
.headerito>h1{
    color: #ffff;
    height: 50px;
    display: flex;
}
.headerito>section{
    border-radius: 25%;
    border-color: transparent;
    align-items: center;
    padding: 7px;
    background-color:#1d1f35 ;
    width: 120px;
    height: 17px;
    gap: 20px;
    display: flex;
}
.headerito>section>select{
    border-radius: 25%;
    border-color: transparent;
    background-color: #171829;
    color: #ffff;
}
.headerito>section>span{
    display: flex;
    background-color: #363853;
    justify-content: row;
    width: 10px;
    height: 10px;
}
main>section{
    padding: 10px;
    flex: 1 0 0;
    height: 100%;
    overflow: auto;
    gap: 5px;
    
}
.primer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1400px;
    height: 30px;
    padding: 5px;
    
}
.primer>p{
    color: #363853;
}
.dos{
    display: flex;
    padding: 5px 0px;
    justify-content: space-between;
    align-items: flex-start;
    width: 1400px;
    height: 40px;
    
}
.dos>p{
    color: #ffff;
}
.dos>.date{
    color: #363853;
}
.dos>div{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dos>div>p{
    color: #ffff;
}
.dos>div>span{
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: #363853;
    width: 40px;
    height: 40px;
}
.dos>.active{
    display: flex;
    color: #f9f9fa;
    background-color: rgb(21, 228, 159);
    justify-content: center;
    align-items: center;
    border-radius: 35%;
    border-color: transparent;
    height: 20px;
    width: 60px;
}
.auto{
    color:rgb(75, 16, 212) ;
}
.mod{
   color: orangered;
}
#mode{
    position: initial;
    color: orangered;
}

#aut{
    position: initial;
    color: rgb(75, 16, 212);
}
.writer{
    position: initial;
    color: #ffff;
}
#writ{
    position: initial;
    color: #ffff;
}
.margin{
    display: flex;
    background-color: #171829;
    width: 190px;
    height: 50px;
    border: 1px solid;
}